<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyciąganie danych</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <br><br>
    <div id="app" class="container" style="max-width:90%">

        <p v-for="message in messages" class="error">
            {{message}}
        </p>

        <div class="row">
            <div class="col-md-6">

            <div id="accordion" class="mb-3" style="width:600px">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Podaj numery zleceń
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <div id="zleceniamodul">
                                <div v-for="(elem,index) in numeryzlecen" class="form-group">
                                    <input type="text" class="form-control" v-model="numeryzlecen[index].zlecenie"
                                        style="display:inline">
                                    <button class="btn btn-danger" @click="removeZlecenie(index)">-</button>

                                </div>
                                <button @click="pushZlecenie" class="btn btn-primary">Dodaj zlecenie</button>
                                <br>
                                <br>
                                <button @click="getData" class="btn btn-danger">Pobierz dane</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-md-6">

                    
            </div>

        </div>





        <div style="display:flex;" class="mb-2">
            <div style="margin-left:auto">
                <button @click="handleColumns('statusy')" class="btn statusy">Pokaż statusy</button>
                <button @click="handleColumns('szczegoly')" class="btn szczegoly">Pokaż szczegóły</button>
                <button @click="handleColumns('wykonanie')" class="btn jednostki">Pokaż wykonanie</button>

            </div>
        </div>

        <div class="table-fix-head">
            <table v-if="showDetailed" class="table table-bordered table-dark">
                <thead>
                    <td class="podstawowe">Nr zlec.</td>
                    <td class="podstawowe" style="text-align:center!important"> Nr poz.</td>
                    <td class="podstawowe"> Nr szt.</td>
                    <td v-if="show.szczegoly" class="szczegoly">Barkod</td>
                    <td v-if="show.szczegoly" class="szczegoly">System</td>
                    <td v-if="show.szczegoly" class="szczegoly">Szerokość</td>
                    <td v-if="show.szczegoly" class="szczegoly">Wysokość</td>
                    <td v-if="show.szczegoly" class="szczegoly">Łuki</td>
                    <td v-if="show.szczegoly" class="szczegoly">Szprosy</td>
                    <td v-if="show.szczegoly" class="szczegoly">Rolety</td>
                    <td v-if="show.szczegoly" class="szczegoly">Poszerzenia</td>
                    <td v-if="show.statusy" class="statusy" style="width:60px">PIŁ</td>
                    <td v-if="show.statusy" class="statusy" style="width:60px">OKU</td>
                    <td v-if="show.statusy" class="statusy" style="width:60px">SŁU</td>
                    <td v-if="show.statusy" class="statusy" style="width:60px">KON</td>
                    <td v-if="show.statusy" class="statusy" style="width:60px">SZKL</td>
                    <!-- <td class="jednostki">JEDNOSTKI</td> -->
                    <td class="jednostki">JEDNOSTKI</td>

                    <td class="jednostki" v-if="show.wykonanie">WYKONANO</td>
                    <td class="jednostki" v-if="show.wykonanie">DO ZROBIENIA</td>


                </thead>
                <tbody>
                    <tr v-for="elem in travdorm">
                        <td class="podstawowe" @click="filter(elem.commande)">{{elem.commande}}</td>
                        <td class="podstawowe">{{elem.id}}</td>
                        <td class="podstawowe">#{{elem.index + 1}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.codebarre}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.opisSystemu}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.dim1}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.dim2}}</td>
                        <td v-if="show.szczegoly" class="szczegoly"></td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.szprosy}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.Rolety}}</td>
                        <td v-if="show.szczegoly" class="szczegoly">{{elem.Poszerzenia}}</td>
                        <td v-if="show.statusy" class="statusy" :class="{green:elem.PILA}">
                            <p> PIŁA</p>
                        </td>
                        <td v-if="show.statusy" class="statusy" :class="{green:elem.OKUWANIE}">
                            <p>OKU</p>
                        </td>
                        <td v-if="show.statusy" class="statusy" :class="{green:elem.MontazSlupkow}">
                            <p>SŁU</p>
                        </td>
                        <td v-if="show.statusy" class="statusy" :class="{green:elem.KONTROLA}">
                            <p>KON</p>
                        </td>
                        <td v-if="show.statusy" class="statusy" :class="{greendark:elem.SZKLENIE}">
                            <p>SZK</p>
                        </td>
                        <!-- <td class="jednostki">{{elem.jednostki}}</td> -->
                        <td class="jednostki">{{elem.jednostki2}}</td>

                        <td class="jednostki" v-if="show.wykonanie">{{elem.wykonano}} </td>
                        <td class="jednostki" v-if="show.wykonanie">{{elem.dozrobienia}} </td>

                    </tr>
                <tfoot>
                    <td :colspan="colspan">Suma:</td>
                    <td>{{sumy.jednostki2}}</td>
                    <td v-if="show.wykonanie">{{sumy.wykonano}}</td>
                    <td v-if="show.wykonanie">{{sumy.dozrobienia}}</td>
                </tfoot>
                </tbody>
            </table>
        </div>

        <div>
            Suma szprosów: {{sumy.szprosy}}
            Suma rolet: {{sumy.rolety}}
            Suma poszerzeń: {{sumy.Poszerzenia}}
        </div>
        <!-- <button @click="showSummed = !showSummed" class="mb-2">Pokaż posumowanie po pozycji</button> -->
        <br>


        <table class="table table-bordered table-dark" v-if="showSummed" style="width:30%">
            <thead>
                <tr>
                    <td>Pozycja okna</td>
                    <td>Suma jednostek</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="elem in sumypropsarray">
                    <td>{{elem}}</td>
                    <td>{{sumyZwiniete[elem]}}</td>
                </tr>
            </tbody>
        </table>









        <!-- <p v-for="elem in profile">{{elem}} <b>(x{{dane.filter((el)=>el.descriptio==elem).length}})</b></p> -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>

        //,\'ZAM-20-AO-71000\'
        //'ZAM-20-00004'


        let app = new Vue({
            el: '#app',
            data: {
                dane: [],
                numeryzlecen: [{ zlecenie: 'ZAM-20-00653' }],
                profile: [],
                travdorm: [],
                messages: [],
                sumyZwiniete: {},
                sumypropsarray: [],
                show: {
                    szczegoly: false,
                    statusy: false,
                    wykonanie: false
                },
                sumy: {

                },
                showSczegoly: false,
                showStatusy: false,
                showWykonanie: false,
                showDetailed: true,
                showSummed: false,
                numeryzlecenstring: ''
            },
            methods: {
                getData() {
                    localStorage.zamowienia = JSON.stringify(this.numeryzlecen);
                    let self = this;
                    this.getZleceniaString();
                    fetch('api/statusy.php?zam=' + self.numeryzlecenstring).then((res) => res.json()).then(res => { self.travdorm = res; self.obrobDane() }).catch(err => { console.log(err); self.messages.push('Wystąpił błąd') })

                },
                obrobDane() {
                    this.dodajWynikoweDane();
                    this.getSumyAll();
                    this.getSumyZwiniete();
                },

                dodajWynikoweDane() {
                    for (i = 0; i < this.travdorm.length; i++) {

                        if (this.travdorm[i].SZKLENIE) {
                            this.travdorm[i].dozrobienia = 0
                            this.travdorm[i].wykonano = this.travdorm[i].jednostki2;
                        } else {
                            this.travdorm[i].dozrobienia = this.travdorm[i].jednostki2
                            this.travdorm[i].wykonano = 0;

                        }


                    }
                },
                filter(value) {
                    this.detlot = this.travdorm.filter((el) => el.commande == value)
                },
                getSumyZwiniete() {
                    const result = this.travdorm.reduce(function (res, val) {
                        if (!res[val.commande + '-' + val.id]) {
                            res[val.commande + '-' + val.id] = 0;
                        }
                        res[val.commande + '-' + val.id] += parseFloat(val.jednostki2);
                        return res;
                    }, {})

                    this.sumyZwiniete = result;
                    this.sumypropsarray = Object.keys(result);
                },
                getSumyAll() {
                    let sumyboard = ['jednostki2', 'dozrobienia', 'wykonano', 'Poszerzenia']

                    for (let i = 0; i < sumyboard.length; i++) {
                        this.sumy[sumyboard[i]] = this.travdorm.reduce(function (res, val) {
                            res += parseFloat(val[sumyboard[i]]);
                            return res
                        }, 0)

                        this.sumy.rolety = this.travdorm.reduce(function (res, val) {
                            if (val.Rolety.length > 0) {

                                res += 1
                            }
                            console.log(res)
                            return res
                        }, 0)

                        this.sumy.szprosy = this.travdorm.reduce(function (res, val) {
                            if (val.szprosy.length > 0) {

                                res += 1
                            }
                            console.log(res)
                            return res
                        }, 0)
                    }
                },
                zmienWykonano() {
                    this.travdorm[0].wykonano = 50;
                },
                pushZlecenie() {
                    this.numeryzlecen.push({ zlecenie: '' });
                },
                removeZlecenie(index) {
                    this.numeryzlecen.splice(index, 1);
                },
                getZleceniaString() {
                    let result = '';
                    for (let i = 0; i < this.numeryzlecen.length; i++) {
                        console.log(this.numeryzlecen[0]);

                        result += '\'' + this.numeryzlecen[i].zlecenie + '\'' + ',';
                    }

                    // console.log(result);

                    this.numeryzlecenstring = result.slice(0, -1);

                },
                handleColumns(sekcja) {
                    this.show[sekcja] = !this.show[sekcja]

                    localStorage.show = JSON.stringify(this.show);
                }

            },
            created() {
                if (localStorage.zamowienia) {
                    this.numeryzlecen = JSON.parse(localStorage.zamowienia);
                }

                if (localStorage.show) {
                    this.show = JSON.parse(localStorage.show);
                }
            },
            mounted() {
                let self = this;
                this.getData();
                setInterval(function () {
                    location.reload();
                }, 60000 * 5)
            },
            computed: {
                colspan() {
                    let number = 3;

                    if (this.show.statusy) {
                        number += 5;
                    }


                    if (this.show.szczegoly) {
                        number += 8;
                    }

                    return number
                }
            }
        })

        // var ctx = document.getElementById('profile').getContext('2d');

















    </script>

</body>

</html>