<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <style>
        p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>

</head>

<body>
    <br><br>
    <div id="app" class="container" style="max-width:90%">
        <!-- <div style="width:600px;height:600px">
            <canvas id="profile" width="1" height="1" style="height:300px;width:400px"></canvas>
        </div> -->
        <label for="">Podaj numery zleceń</label>
        <input type="text" v-model="zlecenia">
        <button @click="getDataTravdorm">Pobierz dane</button>
        <br><br>
        Dane:
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>Pozycja okna</td>
                    <td>Suma jednostek</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="elem in sumypropsarray">
                    <td>{{elem}}</td> 
                    <td>{{sumy[elem]}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <p>W oknie znajduje się </p> -->

        Suma wszystkich: {{sumaall}}
        <br>
        <br>
        <br>

        <button @click="showDetailed = !showDetailed">Pokaż szczegółowo</button>
        <table v-if="showDetailed" class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>Zlecenie</td>
                    <td>Pozycja</td>
                    <td>System</td>
                    <td>Okucia</td>
                    <td>Data</td>
                    <td>Jednostki</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="elem in travdorm">
                    <td @click="filter(elem.commande)">{{elem.NrZam}}</td>
                    <td>{{elem.pozycja}}</td>
                    <td>{{elem.system}}</td>
                    <td>{{elem.okucie}}</td>
                    <td>{{elem.data}}</td>
                    <!-- <td>{{sumy[elem.NrZam+'-'+elem.pozycja] }}</td> -->
                    <td>{{elem.JednostkiProdukcyjne}}</td>
                    <td></td>

                </tr>
            </tbody>
        </table>


   

        


        <!-- <p v-for="elem in profile">{{elem}} <b>(x{{dane.filter((el)=>el.descriptio==elem).length}})</b></p> -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>

        let app = new Vue({
            el: '#app',
            data: {
                dane: [],
                zlecenia: '\'TEST_1.5S\',\'TEST_1S\',\'TEST_2S\',\'TEST_WIELEPOZYCJ\'',
                profile: [],
                travdorm: [],
                sumy:{},
                sumypropsarray:[],
                sumaall:0,
                showDetailed:false
            },
            methods: {
                getDataDetlot() {
                    let self = this;
                    fetch('api/readprofile.php?zam=' + self.zlecenie).then((res) => res.json()).then((res) => this.dane = res).then((res) => self.processData());
                },
                getDataTravdorm() {
                    let self = this;
                    fetch('api/readtravdorm.php?zam=' + self.zlecenia).then((res) => res.json()).then((res) => this.travdorm = res).then((res)=>self.getSumy()) ;

                },
                filter(value) {
                    this.detlot = this.travdorm.filter((el) => el.commande == value)
                },
                getSumy() {
                    const result = this.travdorm.reduce(function (res, val) {
                        if (!res[val.NrZam+'-'+val.pozycja]) {
                            res[val.NrZam+'-'+val.pozycja] = 0;
                        }
                        res[val.NrZam+'-'+val.pozycja] += parseFloat(val.JednostkiProdukcyjne);
                        return res;
                    }, {})

                    this.sumy = result;
                    this.sumypropsarray = Object.keys(result);

                    this.getSumaAll();
                },
                getSumaAll(){
                    const result = this.travdorm.reduce(function(res,val){
                        res += parseFloat(val['JednostkiProdukcyjne']);
                        return res
                    },0)

                    this.sumaall = result;
                }
            },
            mounted() {
                let self = this;
                this.getDataTravdorm();
            }
        })

        // var ctx = document.getElementById('profile').getContext('2d');

















    </script>

</body>

</html>